---
layout: base
title: "About Me"
tags: page
---

<div class="p-6 max-w-3xl mx-auto">
  <h1 class="text-3xl font-bold mb-4">About Me</h1>

  <p class="text-lg mb-4">
    Hey, I'm Zodi, and I'm a regular guy. In fact, we're probably pretty similar. We share over 99.9% of our DNA, so if you want to know about me, you can get most of the way there simply by <strong>turning inward</strong>. Then again, we also share about half our genes with a banana, so that'll probably work too.
  </p>

  <p class="text-lg mb-4">
    I grew up in Maine on the coast and played a lot of flute. For years of my life I played through "Taffanel/Gaubert: 17 Daily Exercises" every day, which takes around 20 minutes (technically I did half every other day). What I learned is that daily habits can make you really good at things without putting very much effort in at any one time. Because of this realization, I've spent most of my teenage and adult years obsessed with habits and routine. At various points, many of the following have been essential parts of my daily practice:
  </p>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Languages
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      The first few weeks of studying a language are my favorite part. The languages I've put more than two years into are Spanish, French, Finnish, and Italian. Currently studying Chinese. Love to share Anki decks!
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Juggling
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      Balls and clubs. Always look for someone to pass with.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Handbalances
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      The big challenge of handstands is really just learning how to fall. Once you can practice without fear, they eventually become really easy. 
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Flips
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      Mostly practice in my backyard so I've never learned to twist because it's too scary to do without a foam pit. If I ever live near one...
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Splits
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      Flexibility can be trained just like weights -- 3 sets of 30 seconds on a stretch, 3-4 times a week. 
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Meditation
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      Mindfulness, mostly raw dog and occasional Headspace.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Computer Science
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      I can't say this was 100% self-taught since I did eventually get a degree in this one. Everything useful though came from internet tutorials, mentors, and hacker friends.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Lucid Dreaming
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      Highly recommend learning how to do this. Start with a dream journal.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Music
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      I grew up taking flute and piano lessons. Learning new wind instruments is pretty easy once you know one, and most of my jazz education was on saxophone. The past couple years I've been learning guitar, which is hard but awesome.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Sewing
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      Great skill to tailor your own clothes. Making things from scratch is mostly about cutting, not sewing. This mostly comes in handy now for Halloween costumes.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Personal Finance
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      Started with a Reddit thread on the three-fund portfolio and then somehow investing became a full-time job for me.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Polo
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      On horses!
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Calligraphy
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      A dying art. For me the goal is not perfect imitation of a style, but to cultivate a unique and identifiable handwriting.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Powerlifting
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      Not exactly a daily habit because some percentage of days are rest days, but as far as habits go powerlifting is uniquely quantifiable. The amount of weight you squat/deadlift/press either goes up, goes down, or stays the same. 
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Socializing
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      This might look out of place on this list because people tend to think of sociability as an innate quality, but I believe it can be learned from first principles.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Left-handed Writing
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      I started by learning to write in reverse, where I got better carryover from "thumb-to-pinky" muscle memory.
    </span>
  </div>

  <div class="bg-green-100 rounded-lg p-3 text-green-700 flex justify-center items-center relative group">
    Colemak
    <span class="absolute bg-white text-blue-600 text-sm rounded p-2 shadow-lg hidden group-hover:block -bottom-14 w-full text-center z-10 border border-blue-600">
      Massive waste of time, makes other people's laptops unusable.
    </span>
  </div>
</div>

</div>
