---
layout: base
title: Home
tags: page
---
<div class="space-y-4">
<p>
In my younger and more vulnerable years my father gave me some advice that I’ve been turning over in my mind ever since.
</p>

<p>
“Whenever you feel like criticizing anyone,” he told me, “just remember that all the people in this world haven’t had the advantages that you’ve had.”
</p>

<p>
He didn’t say any more, but we’ve always been unusually communicative in a reserved way, and I understood that he meant a great deal more than that. In consequence, I’m inclined to reserve all judgements, a habit that has opened up many curious natures to me and also made me the victim of not a few veteran bores.
</p>
</div>
<br>
<b>Me, to date:</b>

<div class="my-4">
    {% experience "BoxGroup", "Investor", "Some great facts about my time working here!"%}
    {% experience "Dog", "Cat", "Some great facts about my time working here!"%}
    
    <!-- <div>
        <div class="flex justify-between cursor-pointer" onclick="toggleExpand(this)">
        </div>
        <div class="hidden flex justify-end">
            <div class="w-8/12">
                <div>Some great facts about my time working here!</div>
            </div>
        </div>
    </div> -->
</div>

<b>Me, online:</b>
<div class="my-4">
    <div>
        <div class="flex justify-between">
            <div class="flex justify-between w-4/12">
                <p>Twitter</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                  </svg>
                  
            </div>
            <div class="w-8/12 flex justify-start">
                <a href="https://x.com/zodichalat" target="_blank" rel="noopener noreferrer">x.com/zodichalat</a>
            </div>
        </div>
    </div>
    <div>
        <div class="flex justify-between">
            <div class="flex justify-between w-4/12">
                <p>LinkedIn</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                  </svg>
                  
            </div>
            <div class="w-8/12 flex justify-start">
                <a href="https://linkedin.com/in/zodi"  target="_blank" rel="noopener noreferrer">linkedin.com/in/zodi</a>
            </div>
        </div>
    </div>

</div>



