---
layout: base
title: "Startups"
tags: page
---

<h1>Startup Stuff</h1>
</br>
<h2>What to Build</h2>
<p>+ <a href="https://www.gregisenberg.com/" class="text-blue-500 underline" target="_blank" rel="noopener noreferrer">Greg Isenberg's bootstrappable startups</a></p>
<p>+ <a href="https://www.ycombinator.com/rfs" class="text-blue-500 underline" target="_blank" rel="noopener noreferrer">Y Combinator Requests for Startups</a></p>
<p>+ <a href="https://paulgraham.com/startupideas.html" class="text-blue-500 underline" target="_blank" rel="noopener noreferrer">Coming up with good startup ideas</a></p>
</br>
<h2>Fundraising</h2>
<p>+ <a href="../thoughts/posts/Preseed" class="text-blue-500 underline">What is a pre-seed round?</a></p>
<p>+ <a href="../thoughts/posts/Seed" class="text-blue-500 underline">What is a seed round?</a></p>
<p>+ <a href="https://carta.com/learn/startups/fundraising/" class="text-blue-500 underline" target="_blank" rel="noopener noreferrer">How to raise money</a></p>
<!-- 
<h2>Building</h2>

<h2>Management</h2>

<h2>Scaling</h2>

<h2>Hiring</h2> 
-->