---
layout: base
title: "Sunning"
tags: page
---

<p class="text-2xl">♫ Grobie's like a melody in my head </br> that I can't get out got me sunnin' like ♫</p>

</br> 
<img src="/assets/imgs/grobie.png" alt="Grobie">

