---
layout: base
title: "Vault"
tags: page
---

<div class="grid grid-cols-2 gap-4">
    <div>
        <!-- Content for the first column goes here -->
        <p>Dogs</p>
        <p class="text-3xl">Cars</p>
        <p>Birds</p>
    </div>
    <div>
        <!-- Content for the second column goes here -->
        <p>Planes</p>
        <p>Trains</p>
        <p class="text-3xl">Cars</p>
    </div>
</div>



