---
layout: base
title: "Writing"
tags: page
---
<p>
An assortment of arguments and rabbit holes that felt, at least momentarily, interesting enough to write about. If you want more content delivered straight to your inbox, consider subscribing to my <a class="text-blue-500 underline" href="https://zodi.beehiiv.com" target="_blank" rel="noopener noreferrer">newsletter</a>. 
</p>
</br>

<h1 class="font-bold underline text-3xl mb-4">Primers</h1>
<ul>
    {% for primer in collections.primer %}
        <li>
            + <a href="{{ primer.url }}">{{ primer.data.title }}</a>
        </li>
    {% endfor %}
</ul>
</br>
<h1 class="font-bold underline text-3xl mb-4">Everything Else</h1>
<ul>
    {% for post in collections.bpost %}
        <li>
            + <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
</ul>